@tailwind base;

@tailwind components;

@tailwind utilities;


.primary-button {
  @apply bg-primary-300 font-normal border-solid border-2 border-primary-300 text-white py-3 px-5 rounded-xl;
}

.primary-button:hover {
  @apply bg-white text-primary-300 font-normal border-solid border-2 border-primary-300;
}

.secondary-button {
  @apply bg-white font-normal border-solid border-2 border-white text-primary-300 py-3 px-5 rounded-xl;
}

.secondary-button:hover {
  @apply bg-primary-300 text-white font-normal border-solid border-2 border-primary-300;
}

html,
body {
  margin: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 18px;
  cursor: default;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  position: relative;
}

#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: clip;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
.btn-transform{
  transform: translate(-50%, -50%);
}

.zoom {
  background-color: rgba(64, 116, 207, 0.2);
  backdrop-filter: blur(50px);
  transition: transform 1.3s;
  color: #f2f2f2;
  padding: 60px 50px;
  transform-origin: center center;
  margin:0;
  min-height: 432px;
}

.zoom img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transition: transform 1.5s;
}

.title {
  font-size: 24px;
  transition: font-size 1.5s;
  transition: transform 1.5s;
}

.content {
  font-size: 14px;
  transition: font-size 1.5s;
  transition: transform 1.5s;
}

.zoom img {
  transition: width 1.5s, height 1.5s;
}

.zoom:hover {
  background-image: linear-gradient(154.56deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.08) 30.73%, rgba(255, 255, 255, 0.2) 72.92%, rgba(255, 255, 255, 0.2) 99.48%);
  z-index: 1;
  backdrop-filter: blur(50px);
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  height: fit-content;
  padding: 60px 30px;
  transition: transform 1.5s;
  transform-origin: center center;
}

.zoom:hover img {
  width: 120px;
  height: 120px;
}

.zoom:hover .title {
  font-size: 30px;
}

.zoom:hover .content {
  font-size: 16px;
}

.divider {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  text-align: end;
  color: white;
  margin-bottom: 47px;
}

.headline::after{
  content: "";
  margin: 25px 0 50px 0;
  display: block;
  height: 1px;
  width: 100%;
  background-color: #0071B9;
  border-radius: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); 
}

.list-item{
  display: flex !important;
  padding-bottom:16px;
}

@media only screen and (max-width: 1279px) {
  html,
body {
  position: relative;
  margin: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 18px;
  cursor: default;
  
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('/assets/images/background.png');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: scroll;
}
}